/.idea
/.vagrant
/.vscode
/node_modules
/public/documentation
/public/hot
/public/storage
/routes/dev
/storage/*.key
/storage/framework/laravel-excel
/vendor
.env
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper*.php
_ide_*macros.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml
service-account.json
